.o-button-icon {
    color: var(--o-black-alt);
    background-color: var(--o-white);
    border: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .4s ease-in-out;

    svg {
        fill: var(--o-black);
    }

    &:hover {
        background-color: var(--o-accent);

        svg {
            fill: var(--o-white);
        }

        cursor: pointer;
    }

    &:active {
        scale: 0.9;
    }

    &:disabled {
        background-color: var(--o-light-gray-alt) !important;
        color: var(--o-white);
        cursor: default;
        pointer-events: none;

        svg {
            fill: var(--o-black-alt);
        }
    }
}

.menu-icon {
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.menu-icon-deployed {
    transform: rotate(180deg);
}