.o-header {
    border-bottom: 2px solid var(--o-light-gray-alt);
    height: 64px;
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    align-items: center;

    h1 {
        margin: 0;
        flex: 1;

        a {
            text-decoration: none;
            color: var(--o-black-alt);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
            letter-spacing: 2px;
        }
    }

    .left-content {
        margin-right: 16px;
    }

    .main-content {
        flex: 1;
    }

    .right-content {
        margin-left: 16px;
    }
}