.o-list-item {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        flex: 1;
        height: 100%;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        letter-spacing: 2px;

        a {
            text-decoration: none;
            color: #1a1a1a;
            display: flex;
            flex: 1;
            height: 100%;
            align-items: center;
            padding: 0 16px;
            box-sizing: border-box;

            &:hover {
                color: #000;
                background-color: rgba(0, 0, 0, 0.1);
            }

            &.o-list-item-sub {
                position: relative;
                padding-left: 32px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 16px;
                    width: 2px;
                    height: 100%;
                    background-color: #000;
                }
            }
        }
    }
}