<div class="o-tabs">
    <div class="o-tabs__header">
        @for (tab of tabs(); track tab.label(); let i = $index) {
        <button class="o-tabs__header-item"
                [class.active]="activeTabIndex() === i"
                (click)="selectTab(i)">
            {{ tab.label() }}
        </button>
        }
    </div>
    <div class="o-tabs__content">
        @for (tab of tabs(); track tab.label(); let i = $index) {
        @if (activeTabIndex() === i) {
        <ng-container *ngTemplateOutlet="tab.content() || null"></ng-container>
        }
        }
    </div>
</div>