<div class="o-code-content">
    <div class="o-code-content__header">
        <span>{{data().title}}</span>
        <o-button-icon src="img/code.svg"
                       (click)="showCode()" />
    </div>
    @if (codeVisible()) {
    <div class="o-code-content__code">
        <o-tabs>
            <o-tab label="HTML">
                <pre class="code-sample"><code [highlightAuto]="data().codeHTML" lineNumbers></code></pre>
            </o-tab>
            <o-tab label="TS">
                <pre class="code-sample"><code [highlightAuto]="data().codeTS" lineNumbers></code></pre>
            </o-tab>
            <o-tab label="CSS">
                <pre class="code-sample"><code [highlightAuto]="data().codeCSS" lineNumbers></code></pre>
            </o-tab>
        </o-tabs>
    </div>
    }
    <div class="o-code-content__content">
        <ng-content></ng-content>
    </div>
</div>